body {
    background-color: dimgrey;
}

:root {
    --primary-color: #32CD32;
    --secondary-color: 	#228B22;
    --tertiary-color: 	#2E8B57	;
    --quaternary-color: #054d05	;
    --quinary-color: #008000;
    --light-color: #f2f2f2;
    --medium-color: #898888;
    --dark-color: #141414;
}

.bg-custom {
    background: var(--quaternary-color);
    background: linear-gradient(90deg, var(--quaternary-color) 0%, var(--quinary-color) 27%, var(--primary-color) 56%, var(--quinary-color) 81%, var(--quaternary-color) 100%);
}

.navbar-brand,
.nav-link {
    color: var(--light-color);
}